<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :nm_item %>
  </div>
  <div class="field">
    <%= f.label "Quantidade" %><br>
    <%= f.text_field :qtd_item %>
  </div>
  <div class="field">
    <%= f.label "Valor" %><br>
    <%= f.text_field :vl_item %>
  </div>
  <div class="field">
    <%= f.label "Descrição" %><br>
    <%= f.text_area :ds_item %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
